<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="DigimonRPGLauncher.Launcher" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<userSettings>
		<DigimonRPGLauncher.Launcher>
			<setting name="Password" serializeAs="String">
				<value></value>
			</setting>
			<setting name="QuickLaunch" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="SavePassword" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="SaveUsername" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="Username" serializeAs="String">
				<value></value>
			</setting>
		</DigimonRPGLauncher.Launcher>
	</userSettings>
</configuration>